html,
body {
	height: 100%;
}

#pageheader {
	text-align: center;
	height: 60px;
	background-color: rgb(216,227,242);
	border-bottom-color: rgb(148, 176,202);
}

#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Not required for template or sticky footer method. */
#wrap > .container {
	padding: 60px 15px 0;
}
.container .text-muted {
	margin: 20px 0;
}

#main-panel{
	border-style: solid;
	border-width: 1px;
	background-color: rgb(216,227,242);
	border-color: rgb(148, 176,202);
	border-radius: 3px;
	padding: 20px;
}

#page-title{
	border-style: solid;
	border-width: 1px;
	background-color: rgb(216,227,242);
	border-color: rgb(148, 176,202);
	border-radius: 3px;
	padding: 10px 0px 0px 0px;
}

#footer > .container {
	padding-left: 15px;
	padding-right: 15px;
}

code {
	font-size: 80%;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: rgb(216,227,242);
	border-top-color: rgb(148, 176,202);
}


/* Flash Message Styles */
.alert{
	border: 1px solid #ccc;
	padding: 6px;
	/*align-content: center;*/
}

.alert-info{
	background-color: #d9edf7;
}

.alert-success{
	background-color: #dff0d8;
}

.alert-warning{
	background-color: #fcf8e3;
}

.no-permission-li{
	cursor: not-allowed;
}

.no-permission {
	cursor: not-allowed;
	color: #cc0000;
}
